@page
@model MercatoApp.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <h1 class="mb-4">Log out</h1>
        <form method="post">
            <p>Click the button below to log out.</p>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Log out</button>
            </div>
        </form>
    </div>
</div>
